{% extends 'post/view.html' %}

{% block title %}
delete post {{ post.id }}
{% endblock %}

{% macro confirm_delete(post) %}
<div class="card-footer text-white bg-warning">
    <form class="d-flex align-items-baseline" id="confirm-delete" method="post">
        <h5 class="mr-2">delete this post?</h5>
        <input class="btn btn-danger btn-lg" type="submit" name="action" value="delete">
    </form>
</div>
{% endmacro %}

{% block content %}
<div class="card-body">
    {{ render_primary(post, footer=confirm_delete) }}
</div>
{% endblock %}
