{% extends 'post/view.html' %}
{% from 'elements.jinja' import post_body_form, post_media_form %}

{% block title %}
replying to post {{ post.id }}
{% endblock %}

{% block content %}
<div class="card-body">
    {{ render_primary(post) }}
    <div class="card bg-light mt-3">
        <div class="card-body">
            <form id="reply-form"
                  method="post"
                  action="{{ url_for('post.submit') }}"
                  enctype="multipart/form-data"
                  >
                <input type="hidden" name="in_reply_to" value="{{ post.id }}">
                {{ post_body_form(description=post.author.handle + ' ', focus=True) }}
                <div class="form-group d-flex mb-0">
                    <div class="flex-grow-1 d-flex align-items-center">
                        {{ post_media_form(onchange='update_upload(this.files)', style='h2 mb-0') }}
                        <i id="upload-list" class="text-small text-muted"></i>
                    </div>
                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" value="post"
                               onclick="this.setCustomValidity(description.value.length == 0 ? 'You gotta post something, dude.' : '')"
                               >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function update_upload(files) {
        // Truncate the description line to the longest it can be before line-wrapping
        if (files.length > 0) {
            var el = document.getElementById('upload-list');
            el.innerText = "?";
            var base_height = el.offsetHeight;
            var last_text = `${files.length} files`;
            var display_files = []
            Array.from(files).map(f => f.name).some(
                function(filename, idx, file_list) {
                    display_files.push(filename);
                    var text = display_files.join(', ');
                    var remaining = file_list.length - idx - 1;
                    if (remaining > 0) {
                        text += `, and ${remaining} more`;
                    }
                    el.innerText = text;
                    if (el.offsetHeight > base_height) {
                        el.innerText = last_text;
                        el.title = file_list.join(', ');
                        return true;
                    } else {
                        last_text = text;
                        return false;
                    }
                }
            );
        }
    }
</script>
{% endblock %}
