{% extends 'post/view.html' %}

{% block taglist_edit_control %}
<input class="btn btn-primary btn-sm mt-n1 mb-n1"
       form="tag-editor"
       type="submit"
       value="save"
       >
{% endblock %}

{% block taglist_list %}
{% if post.tags %}
<ul class="list-group">
    {% for tag in post.tags %}
    <li class="list-group-item small">
        <input class="del-item-checkbox"
               type="checkbox"
               form="tag-editor"
               name="remove[]"
               id="remove-{{ tag.name }}"
               value="{{ tag.name }}"
               >
        <label class="del-item-label icon-cancel" for="remove-{{ tag.name }}" title="remove tag"></label>
            {{ tag_link(tag) }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="ac-wrapper">
    <textarea class="form-control form-control-sm"
              form="tag-editor"
              id="newtags"
              name="newtags"
              rows="2"
              placeholder="tags to add, separated by spaces"
              ></textarea>
    <ul class="ac-list"></ul>
    <script>autocomplete('newtags', '{{ url_for("tags.suggest") }}');</script>
</div>
<form id="tag-editor"
      method="post"></form>
{% endblock %}
