{% extends 'base.html' %}
{% from 'elements.jinja' import tag_link, post_link, user_card_header, enumerate_media, spoiler_overlay %}

{% block title %}
post {{ post.id }}
{% endblock %}

{% block sidebar %}
<div class="card">
    <div class="card-header d-flex align-items-baseline">
        <h4>
            tags
            {% block taglist_edit_control %}
            {% if g.user %}
            <a class="icon-btn icon-pencil"
               title="edit tags"
               href="{{ url_for('post.view', id=post.id, edit_tags=True) }}">
            </a>
            {% endif %}
            {% endblock %}
        </h4>
    </div>
    {% block taglist_list %}
    <ul class="list-group">
        {% if post.tags %}
        {% for tag in post.tags %}
        {{ tag_link(tag, style="list-group-item small") }}
        {% endfor %}
        {% else %}
        <li class="list-group-item small">
            <i class="text-muted">no tags</i>
        </li>
        {% endif %}
    </ul>
    {% endblock %}
</div>
{% endblock %}

{% macro render_header(post) %}
<div class="card-header d-flex align-items-end">
    {{ user_card_header(post.author) }}
    <div class="small flex-1 text-right">
        <div>
            {{ post_link(post) }}
        </div>
        <div class="text-muted">
            {{ post.inserted_at|fmtdate }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro video_prefs() %}
{% if preference('autoplay_video') %}autoplay{% endif %}
{% if preference('mute_video') %}muted{% endif %}
{% if preference('autoadvance_video') %}
onended="playNextVideo(this, {{ preference('loop_video') }})"
{% elif preference('loop_video') %}loop{% endif %}
{% endmacro %}

{% macro audio_prefs() %}
{% if preference('mute_audio') %}muted{% endif %}
{% if preference('autoadvance_audio') %}
onended="playNextAudio(this, {{ preference('loop_audio') }})"
{% elif preference('loop_audio') %}loop{% endif %}
{% endmacro %}

{% macro media_card(media) %}
<div class="card post-img-card mb-3
{% if media.is_video %}
video-media-wrapper
{% elif media.is_audio %}
w-100 order-0 audio-media-wrapper
{% elif media.is_multimedia %}
w-100 order-1
{% endif %}
">
    <div class="card-img-top h-100 d-flex align-items-center justify-content-center">
        {% if media.is_image %}
        <a href="{{ url_for('media', path=media.path) }}">
            <img class="w-100" src="{{ url_for('media', path=media.path) }}">
        </a>
        {% elif media.is_video %}
        <video class="w-100 mt-1" controls {{ video_prefs() }}>
            <source src="{{ url_for('media', path=media.path) }}"
                    type="{{ media.mime_type.value }}">
        </video>
        {% elif media.is_audio %}
        <audio class="w-100 mt-1" controls {{ audio_prefs() }}>
            <source src="{{ url_for('media', path=media.path) }}"
                    type="{{ media.mime_type.value }}">
        </audio>
        {% elif media.is_multimedia %}
        <object class="h-100 w-100 multimedia-embed">
            <param name="movie" value="{{ url_for('media', path=media.path) }}">
            <embed src="{{ url_for('media', path=media.path) }}"></embed>
        </object>
        {% else %}
        <a class="display-1 {{ media.icon }}"
           href="{{ url_for('media', path=media.path) }}"></a>
        {% endif %}
    </div>
    <div class="card-footer">
        <a href="{{ url_for('media', path=media.path) }}">
            <i class="{{ media.icon }}"></i>
            <i class="text-muted small">{{ media.filename|e }}</i>
        </a>
    </div>
</div>
{% endmacro %}

{% macro render_media(post) %}
{% if hide_by_cw(post, g.user) %}
{{ truncate_media(post) }}
{% else %}
<div class="card-body post-img-body d-flex flex-wrap justify-content-around align-content-stretch">
    {% for media in post.media %}
    {{ media_card(media) }}
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro truncate_media(post) %}
<div class="card-body post-img-body">
    <a href="{{ url_for('post.view', id=post.id) }}",
       title="{{ post.filenames }}"
       >
        {{ enumerate_media(post, number_singles=True) }}
    </a>
</div>
{% endmacro %}

{% macro render_text(post) %}
<div class="card-body">
    {% if post.subject %}
    <p>{{ post.subject|e }}</p>
    {% endif %}
    {% if post.description %}
    <div class="small">
        {% if hide_by_cw(post, g.user) %}
        <a href="{{ reveal_redirect(post) }}">show content</a>
        {% else %}
        {{ post.description|appfmt|markdown|bleach }}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_body(post, media=render_media, text=render_text) %}
<div class="position-relative overflow-hidden">
    {{ spoiler_overlay(post) }}
    <div class="spoiler-filter">
        {% if post.media %}
        {{ media(post) }}
        {% endif %}
        {% if post.media and (post.subject or post.description) %}
        <hr/>
        {% endif %}
        {% if post.subject or post.description %}
        {{ text(post) }}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_footer(post) %}
<div class="card-footer d-flex align-items-start text-nowrap">
    {% if g.user %}
    <div class="d-flex flex-nowrap">
        <a class="icon-btn icon-reply reply-btn pr-3 pr-sm-5" href="{{ url_for('post.reply', id=post.id) }}" title="reply">
            {% if post.reply_count > 0 %}
            <span class="position-absolute">
                {{ post.reply_count }}
            </span>
            {% endif %}
        </a>
        <a class="icon-btn icon-paper-plane send-btn pr-3 pr-sm-5" href="#" title="send"></a> <!-- TODO -->
        <a class="icon-btn icon-retweet boost-btn pr-3 pr-sm-5" href="#" title="boost"></a> <!-- TODO -->

        <form class="d-inline pr-3 pr-sm-5" action="{{ url_for('post.like', id=post.id) }}" method="post">
            <input id="like-{{ post.id }}" type="submit" class="d-none">
            <label for="like-{{ post.id }}"
                   class="icon-btn star-btn
                          {% if post in g.user.liked_posts %}
                          icon-star
                          {% else %}
                          icon-star-empty
                          {% endif %}"
                   title="favorite"
                   onclick="post_like(event, this, '{{ url_for('post.like', id=post.id) }}')"
                   >
                {% if post.like_count > 0 %}
                <span class="position-absolute">
                    {{ post.like_count }}
                </span>
                {% endif %}
            </label>
        </form>

        {% if g.user.id == post.author.id or g.user.is_moderator %}
        <a class="icon-btn icon-trash delete-btn pr-3 pr-sm-5" href="{{ url_for('post.delete', id=post.id) }}" title="delete"></a>
        {% endif %}
    </div>
    <div class="text-right justify-content-end flex-nowrap flex-grow-1">
        <a class="icon-btn icon-flag report-btn pl-3 pl-sm-5" href="#" title="report"></a>
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_primary(post, header=render_header, body=render_body, footer=render_footer, media=render_media, text=render_text) %}
<div class="card post-view-card border-primary">
    {{ header(post) }}
    {{ body(post, media=media, text=text) }}
    {{ footer(post) }}
</div>
{% endmacro %}

{% macro render_parent(post) %}
<div class="card post-view-card bg-light text-muted mb-3">
    {{ render_header(post) }}
    {{ render_body(post, media=truncate_media) }}
    {{ render_footer(post) }}
</div>
{% endmacro %}

{% macro render_reply_chain(post, depth=0) %}
<div class="card post-view-card bg-light text-muted">
    {{ render_header(post) }}
    {{ render_body(post, media=truncate_media) }}
    {{ render_footer(post) }}
</div>
{% if depth != site_config.ui.max_reply_chain_depth %}
{% for reply in post.replies %}
{{ render_reply_chain(reply, depth=depth+1) }}
{% endfor %}
{% elif post.replies %}
<div class="card card-footer">
    <a href="{{ url_for('post.view', id=post.id) }}">
        ... {{ post.replies|length }} more not shown
    </a>
</div>
{% endif %}
{% endmacro %}


{% block content %}
<div class="card-body">
    {% if post.reply_to %}
    {{ render_parent(post.reply_to) }}
    {% endif %}
    {{ render_primary(post) }}
    {% for reply in post.replies %}
    <div class="mt-3">
        {{ render_reply_chain(reply) }}
    </div>
    {% endfor %}
</div>
{% endblock %}
