{% extends 'base.html' %}

{% block title %}
log in
{% endblock %}

{% block content %}
<div class="card-body form-wrapper">
    <form method="post">
        <div class="form-group row">
            <label for="nickname" class="col-sm-2 col-form-label text-right">nickname</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text"
                       class="form-control"
                       name="nickname"
                       id="nickname"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label text-right">password</label>
            <div class="col-sm-4">
                <input type="password"
                       class="form-control"
                       name="password"
                       id="password"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <input class="btn btn-primary" type="submit" value="log in">
            </div>
        </div>
    </form>
</div>
{% endblock %}
