{% extends 'base.html' %}

{% block title %}
register
{% endblock %}


{% block content %}
<div class="card-body form-wrapper">
    <form method="post"
          oninput="passwordCheck.setCustomValidity(passwordCheck.value != password.value ? 'Passwords do not match.' : '')">
        <div class="form-group row">
            <label for="nickname" class="col-sm-2 col-form-label text-right">nickname</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text"
                       class="form-control"
                       name="nickname"
                       id="nickname"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label text-right">profile name</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       name="name"
                       id="name"
                       placeholder="(optional)"
                       >
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label text-right">email</label>
            <div class="col-sm-4">
                <input type="email"
                       class="form-control"
                       name="email"
                       id="email"
                       {% if site_config.instance.email_required %}
                       required
                       {% else %}
                       placeholder="(optional)"
                       {% endif %}
                       >
            </div>
        </div>
        <div class="form-group row password-input">
            <label for="password" class="col-sm-2 col-form-label text-right">password</label>
            <div class="col-sm-4">
                <input type="password"
                       class="form-control"
                       name="password"
                       id="password"
                       required>
            </div>
        </div>
        <div class="form-group row password-input-check">
            <label for="passwordCheck" class="col-sm-2 col-form-label text-right">password, again</label>
            <div class="col-sm-4">
                <input type="password"
                       class="form-control"
                       name="passwordCheck"
                       id="passwordCheck"
                       required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <input type="checkbox"
                       class="form-check-input position-relative"
                       name="tosCheck"
                       id="tosCheck"
                       required>
                <label class="form-check-label" for="tosCheck">
                    i've read and agreed to the
                    <a href="{{url_for('about.terms_of_service')}}">terms of service</a>
                </label>
                <input class="btn btn-primary" type="submit" value="register">
            </div>
        </div>
    </form>
</div>
{% endblock %}
