{% macro nav_tab(endpoint, name, params={}, style='') %}
<li class="nav-item text-nowrap">
    <a href="{{ url_with_params(endpoint, params) }}"
       {% if request.endpoint == endpoint and request.view_args == params %}
       class="nav-link px-3 active {{ style }}"
       {% else %}
       class="nav-link px-3 {{ style }}"
       {% endif %}
       >{{ name }}</a>
</li>
{% endmacro %}

<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - {{ site_config.instance.name }}</title>
    <link rel="stylesheet"
          href="{{ site_config.themes.__dict__.get(preference('theme'), site_config.themes.default) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontello/css/infosoc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('instance', path='extras.css') }}">

    <script src="{{ url_for('npm_lib', path='axios/dist/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <div id="infosoc" class="mx-auto my-3">
        <nav>
            <ul class="nav nav-tabs d-flex align-items-end mb-3">
                <div class="d-flex flex-wrap align-items-end justify-content-center flex-grow-1 mb-1">
                    <a class="d-flex align-items-center flex-shrink-0 no-change"
                       href="{{ url_for('index') }}"
                       style="max-height: 2em;">
                        <img class="logo pr-2"
                             src="{{ url_for('instance', path='logo.svg') }}"
                             style="height: 2em;"
                             ></img>
                        <h4 class="mb-0 mr-2">{{ site_config.instance.name }}</h4>
                    </a>
                    <div class="px-1 ac-wrapper flex-grow-1">
                        <form class="position-relative d-flex mx-0"
                              id="search-form"
                              method="get"
                              action="{{ url_for('index.results') }}"
                              >
                            <input type="text"
                                   class="form-control form-control-sm"
                                   name="query"
                                   id="search-bar"
                                   {% if query %}
                                   value="{{ query }}"
                                   {% endif %}
                                   placeholder="search tags"
                                   required>
                            <i class="icon-search align-self-center text-muted"></i>
                        </form>
                        <ul class="ac-list"></ul>
                        <script>autocomplete('search-bar', '{{ url_for("tags.suggest") }}');</script>
                    </div>
                </div>
                <div class="d-flex flex-wrap flex-grow-1">
                    <div class="d-flex flex-shrink-0 flex-nowrap">
                        {{ nav_tab('index.results', 'posts') }}
                        {{ nav_tab('tags.index', 'tags') }}
                        {{ nav_tab('about.view', 'about') }}
                    </div>
                    <div class="d-flex flex-shrink-0 flex-grow-1 justify-content-end flex-nowrap">
                        {% if g.user %}
                        {{ nav_tab('user.posts', g.user.nickname,
                           params={'nickname': g.user.nickname}, style=g.user.icon) }}
                        {{ nav_tab('user.edit_profile', '',
                           params={'nickname': g.user.nickname}, style='icon-cog') }}
                        {{ nav_tab('auth.logout', 'log out') }}
                        {% else %}
                        {{ nav_tab('auth.register', 'register') }}
                        {{ nav_tab('auth.login', 'log in') }}
                        {% endif %}
                    </div>
                </div>
            </ul>
        </nav>
        <div class="content d-flex justify-content-center">
            {% if self.sidebar() %}
            <div class="content-sidebar justify-content-center mb-3 flex-shrink-0 flex-grow-1">
                {% block sidebar %}{% endblock %}
            </div>
            {% endif %}
            <div class="content-body mb-3 flex-grow-1">

                {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="flash alert {{ category }}" role="alert"><i class="icon-attention-alt"></i>{{ message|e }}</div>
                {% endfor %}

                {% if g.user %}
                {% for note in g.user.notifications %}
                <form action="{{ url_for('notification.dismiss', id=note.id) }}" method="post">
                    {% if note.href %}
                    <input type="hidden" name="redirectURL" value="{{ note.href }}">
                    {% endif %}
                    <div class="alert position-relative {{ note.category }}
                                {% if note.href %}icon-btn{% endif %}"
                         onclick="this.parentElement.submit()"
                         >
                        <div class="small">
                            {{ note.content|safe }}
                        </div >
                        <div class="icon-box-ne px-1 py-1">
                            <input id="dismiss-{{ note.id }}" type="submit" class="d-none">
                            <label for="dismiss-{{ note.id }}"
                                   class="icon-btn icon-cancel"
                                   title="dismiss"
                                   onclick="post_dismiss(event,
                                            this.parentElement.parentElement.parentElement,
                                            '{{ url_for('notification.dismiss', id=note.id) }}')"
                                   ></label>
                        </div>
                    </div>
                </form>
                {% endfor %}
                {% endif %}

                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <h3 class="card-title">{{ self.title() }}</h3>
                            {% if self.subtitle %}
                            <h6 class="card-subtitle text-muted">{{ self.subtitle() }}</h6>
                            {% endif %}
                        </div>
                        <div class="text-right">
                            {% block title_right %}{% endblock %}
                        </div>
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
