<!-- -*- mode: mhtml -*- -->

{% macro img_or_default(image=None) %}{{
url_for('media', path=image.path) if image else url_for('instance', path='logo.svg')
}}
{% endmacro %}

{% macro info(text, style='mx-n2', icon='icon-help') %}
<small class="{{ icon }} info-hover {{ style }}"
   title="{{ text }}"
   ></small>
{% endmacro %}

{% macro tag_link(tag, style="") %}
<a class="icon-tag {{ style }}"
   href="{{ url_for('index.results', query=tag.name) }}"
   >{{ tag.name|e }} ({{ tag.post_count }})</a>
{% endmacro %}

{% macro user_handle(user) %}
<a href="{{ url_for('user.posts', nickname=user.nickname) }}">
    {{ user.handle|e }}
</a>
{% endmacro %}

{% macro post_link(post) %}
<a href="{{ url_for('post.view', id=post.id) }}">
    #{{ post.id }}
</a>
{% endmacro %}

{% macro input_slider(id, name=None, form=None, checked=False, style='', attrs='') %}
<input type="checkbox"
       {% if form %}
       form="{{ form }}"
       {% endif %}
       class="slider-input"
       id="{{ id }}"
       name="{{ name or id }}"
       {% if checked %}
       checked
       {% endif %}
       >
<label class="icon-btn slider-input-label mb-0 mt-1 {{ style }}"
       for="{{ id }}"
       {{ attrs }}
       >
</label>
{% endmacro %}

{% macro spoiler_overlay(post, text_on_hover=True) %}
{% if hidden_tags(post, g.user) %}
<img class="img-overlay" src="{{ url_for('instance', path='spoiler.svg') }}">
<div class="img-overlay spoiler-overlay flex-column {% if text_on_hover %}hover-overlay{% endif %}">
    <span class="font-weight-bold">
        hidden by tags:
    </span>
    <div class="small icon-tags">
        {% for tag in hidden_tags(post, g.user)[:5] %}{{ tag|e }} {% endfor %}
    </div>
    <a class="text-white small" href="{{ reveal_redirect(post) }}">(click to show)</a>
</div>
{% endif %}
{% endmacro %}

{% macro user_card_header(user) %}
<div class="avatar-container">
    <img class="user-avatar-img" src="{{ img_or_default(user.avatar) }}">
</div>
<div class="mr-2 flex-grow-1">
    <h4 class="card-title">
        {{ user.name|e }}
    </h4>
    <h5 class="card-subtitle mb-1 text-muted">
        {{ user_handle(user) }}
    </h5>
</div>
{% endmacro %}

{% macro mini_user_card(user) %}
<div class="card user-card">
    <div class="card-header d-flex align-items-end">
        {{ user_card_header(user) }}
    </div>
</div>
{% endmacro %}

{% macro user_card(user) %}
<div class="card user-card">
    <div class="card-header d-flex align-items-end">
        {{ user_card_header(user) }}
        <div class="icon-box-ne">
            {% if g.user %}
            {% if g.user.id == user.id %}
            <a class="icon-btn icon-cog"
               href="{{ url_for('user.edit_profile', nickname=user.nickname) }}"
               title="edit profile"
               ></a>
            {% else %}
            <a class="icon-btn icon-plus"
               href="#"
               title="follow {{ user.handle }}"
               ></a> <!-- TODO -->
            <a class="icon-btn icon-mail-alt"
               href="#"
               title="message {{ user.handle }}"
               ></a> <!-- TODO -->
            {% endif %}
            {% endif %}
        </div>
        <small class="mb-1 text-muted text-right">
            since {{ user.inserted_at|fmtdate }}
            <i class="{{ user.icon }}"></i>
        </small>
    </div>
    {% if (not preference('hide_likes', user=user)) or (g.user and g.user == user) %}
    <div class="card-header d-flex justify-content-center">
        <a class="icon-star" href="{{ url_for('user.likes', nickname=user.nickname) }}">
            {{user.handle|e}}'s favorites
        </a>
    </div>
    {% endif %}
    {% if g.user.is_moderator %}
    <div class="card-header position-relative">
        <h4 class="text-muted">mod notes</h4>
        {% if user.info.get('mod_notes', '') %}
        <p>{{ user.info['mod_notes']|appfmt|markdown|bleach }}</p>
        {% else %}
        <p class="text-muted">no mod notes</p>
        {% endif %}
        <div class="icon-box-ne">
            <a class="icon-btn icon-pencil"
               href="{{ url_for('user.mod_notes', nickname=user.nickname) }}"
               title="edit mod notes"
               ></a>
        </div>
    </div>
    {% endif %}
    <div class="card-body">
        <h4 class="text-muted">about</h4>
        {% if user.bio %}
        <p>{{ user.bio|appfmt|markdown|bleach }}</p>
        {% else %}
        <p class="text-muted">not much to say...</p>
        {% endif %}
    </div>
    <div class="card-footer d-flex align-items-start justify-content-around">
        <a class="text-center no-ul" href="{{ url_for('user.posts', nickname=user.nickname) }}">
            <div class="text-value">{{ user.posts|length }}</div>
            <div class="text-muted">posts</div>
        </a>
        <a class="text-center no-ul" href="{{ url_for('user.following', nickname=user.nickname) }}">
            <div class="text-value">{{ user.following|length }}</div>
            <div class="text-muted">following</div>
        </a>
        <a class="text-center no-ul" href="{{ url_for('user.followers', nickname=user.nickname) }}">
            <div class="text-value">TODO</div>
            <div class="text-muted">followers</div>
        </a>
    </div>
</div>
{% endmacro %}

{% macro post_media_form(onchange=None, style='') %}
<label class="upload-wrapper {{ style }}">
    <input type="file"
           class="form-control-file d-none"
           id="media"
           name="media"
           {% if onchange %}
           onchange="{{ onchange }}"
           {% endif %}
           multiple>
    <i class="icon-btn icon-upload" title="upload files (optional)"></i>
</label>
{% if site_config.media.allow_uploads_from_url %}
<div>
    <input type="checkbox" id="mediaURLs-checkbox" class="display-checkbox d-none">
    <label for="mediaURLs-checkbox"
           class="hide-by-checkbox icon-link m-0"
           title="upload from the web by URL">
    </label>
    <input class="form-control form-control-sm show-by-checkbox"
           id="mediaURLs"
           name="mediaURLs"
           placeholder="media URLs, separated by spaces"
           >
</div>
{% endif %}
{% endmacro %}

{% macro post_body_form(subject='', description='', tags='', focus=False) %}
<div class="form-group">
    <input class="form-control form-control-sm"
           id="subject"
           name="subject"
           placeholder="subject (optional)"
           value="{{ subject }}"
           >

    <textarea class="form-control form-control-sm"
              id="description"
              name="description"
              rows="2"
              placeholder="add a markdown-formatted description (optional)"
              {% if focus %}
              onfocus="var v = this.value; this.value=''; this.value = v;"
              autofocus
              {% endif %}
              >{{ description }}</textarea>
</div>
<div class="form-group ac-wrapper">
    <input class="form-control form-control-sm"
           id="tags"
           name="tags"
           placeholder="tags, separated by spaces (optional)"
           value="{{ tags }}"
           >
    <ul class="ac-list"></ul>
    <script>autocomplete('tags', '{{ url_for("tags.suggest") }}');</script>
</div>
{% endmacro %}

{% macro new_post_form() %}{% if g.user %}
<div class="card post-card">
    <div class="card-header">
        <h4>new post</h4>
    </div>
    <form id="post-form"
          method="post"
          action="{{ url_for('post.submit') }}"
          enctype="multipart/form-data"
          >
        <div class="card-body text-center">
            {{ post_media_form(onchange='update_file_list(this.files)', style='display-1 m-0') }}
        </div>
        <ul class="list-group text-muted" id="file-list"></ul>
        <div class="card-body">
            {{ post_body_form() }}
            <div class="form-group text-right">
                <input class="btn btn-primary" type="submit" value="post"
                       onclick="this.setCustomValidity(media.files.length == 0 && description.value.length == 0 && ({{ not site_config.media.allow_uploads_from_url }} || mediaURLs.value.length == 0) ? 'You gotta post something, dude.' : '')"
                       >
            </div>
        </div>
    </form>
</div>
<script>
    function update_file_list(files) {
        el = document.getElementById('file-list');
        el.innerHTML = Array.from(files)
            .map(f => `<li class="list-group-item">${f.name}</li>`)
            .join('');
    }
</script>
{% endif %}{% endmacro %}

{% macro post_thumbnail(post) %}
<div class="card query-result flex-nowrap">
    <div class="card-img-top position-relative overflow-hidden">
        {{ spoiler_overlay(post)}}
        <div class="spoiler-filter">
            <a href="{{ url_for('post.view', id=post.id) }}">
                <img class="post-thumbnail"
                     {% if hide_by_cw(post, g.user) %}
                     src="{{ img_or_default() }}"
                     {% else %}
                     src="{{ img_or_default(post.thumbnail) }}"
                     {% endif %}
                     >
                <div class="img-overlay flex-column text-center p-3 {% if post.thumbnail and not hide_by_cw(post, g.user) %}hover-overlay{% endif %}"
                     >
                    {% if post.subject %}
                    <div class="font-weight-bold">{{ post.subject|e }}</div>
                    {% elif post.description %}
                    <div class="small">{{ post.description|truncate(200)|e }}</div>
                    {% endif %}
                    {% if post.tags %}
                    <div class="small icon-tags">
                        {% for tag in post.tags[:20] %}{{ tag.name|e }} {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    <div class="card-footer d-flex flex-wrap align-items-baseline">
        <div class="small d-flex flex-wrap text-muted ml-n2">
            {{ enumerate_media(post) }}
        </div>
        <div class="flex-grow-1 flex-shrink-0 text-right">
            <i class="small text-muted">
                {{ post_link(post) }} by {{ user_handle(post.author) }}
            </i>
        </div>
    </div>
</div>
{% endmacro %}

{% macro page_link(n, display=None, title=None, url=None) %}
<a class="no-ul m-2"
   {% if url %}
   href="{{ url }}"
   {% else %}
   href="{{ redirect_here({'page': n}) }}"
   {% endif %}
   {% if title %}
   title="{{ title }}"
   {% else %}
   title="page {{ n }}"
   {% endif %}
   >
    {{ (display if display else n) }}
</a>
{% endmacro %}

{% macro page_footer(page, link=page_link) %}
<div class="card-footer d-flex">
    <div class="d-flex w-50">
        <div class="d-flex justify-content-start">
            {% if page.prev_num %}
            {% if page.prev_num != 1 %}
            {{ link(1, '⇐', title='first page') }}
            {% endif %}
            {{ link(page.prev_num, '←') }}
            {% endif %}
        </div>
        <div class="d-flex flex-grow-1 justify-content-end">
            {% for n in range([1, page.page-5]|max, page.page) %}
            {{ link(n) }}
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center font-weight-bold">
        {{ link(page.page) }}
    </div>
    <div class="d-flex w-50">
        <div class="d-flex flex-grow-1 justify-content-start">
            {% for n in range(page.page+1, [page.pages, page.page+4]|min + 1) %}
            {{ link(n) }}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            {% if page.next_num %}
            {{ link(page.next_num, '→') }}
            {% if page.next_num != page.pages %}
            {{ link(page.pages, '⇒', title='last page') }}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro enumerate_media(post, number_all=False, number_singles=False, no_numbers=False) %}
{% for list, icon_class in [
(post.images, 'icon-picture'),
(post.videos, 'icon-video'),
(post.audio, 'icon-music'),
(post.multimedia, 'icon-flash'),
(post.documents, 'icon-doc-text-inv'),
(post.binaries, 'icon-doc-inv')
] %}
{% if list or number_all %}
<span class="{{ icon_class }} d-flex align-items-start flex-nowrap pr-1">
    {% if not no_numbers and (number_all or number_singles or list|length != 1) %}
    {{ list|length }}
    {% endif %}
</span>
{% endif %}
{% endfor %}
{% endmacro %}
