{% extends 'base.html' %}
{% from 'elements.jinja' import post_thumbnail, new_post_form, page_footer %}

{% block title %}
{% if query %}
posts matching {{ description }}
{% else %}
all posts
{% endif %}
{% endblock %}

{% block title_right %}
<h5>
    <a class="icon-help icon-btn info-btn" href="{{ url_for('about.queries') }}"></a>
</h5>
{% endblock %}

{% block subtitle %}
({{ describe_page(page) }})
{% endblock %}

{% block sidebar %}{{ new_post_form() }}{% endblock %}

{% block content %}
<div class="card-body card-columns">
    {% for post in page.items %}
    {{ post_thumbnail(post) }}
    {% endfor %}
</div>
{{ page_footer(page) }}
{% endblock %}
