{% extends 'base.html' %}
{% from 'elements.jinja' import img_or_default, user_handle, info, input_slider %}

{% block title %}
editing profile for {{ user.handle|e }}
{% endblock %}

{% block content %}
<div class="card-body">
    <div class="card user-card">
        <div class="card-header d-flex align-items-end">
            <div class="avatar-container">
                <img class="user-avatar-img" src="{{ img_or_default(user.avatar) }}">
                <label class="img-overlay">
                    <input type="file"
                           class="form-control-file d-none"
                           id="avatar"
                           name="avatar"
                           form="edit-profile">
                    <i class="icon-btn icon-upload"></i>
                </label>
            </div>
            <div class="mr-2 flex-grow-1">
                <input type="text"
                       class="form-control mb-1"
                       name="name"
                       id="name"
                       form="edit-profile"
                       value="{{ user.name }}"
                       placeholder="profile name"
                       required>
                <h5 class="card-subtitle mb-1 text-muted">
                    {{ user_handle(user) }}
                </h5>
            </div>
            <small class="mb-1 text-muted text-right">
                since {{ user.inserted_at|fmtdate }}
                <i class="{{ user.icon }}"></i>
            </small>
        </div>
        <div class="card-body">
            <h4 class="text-muted">about</h4>
            <textarea class="form-control"
                      id="bio"
                      name="bio"
                      form="edit-profile"
                      rows="4"
                      placeholder="tell us a little about yourself."
                      >{% if user.bio %}{{ user.bio }}{% endif %}</textarea>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <form id="edit-profile" method="post" enctype="multipart/form-data">
                <button class="btn btn-primary">save</button>
            </form>
        </div>
    </div>
</div>

{% macro pref_label(id, text, info_text=None) %}
<label class="col-form-label d-flex" for="{{ id }}">
    {{ text }}
    &nbsp;
    {% if info_text %}
    {{ info(info_text) }}
    {% endif %}
</label>
{% endmacro %}

{% macro pref_slider(id, pref_key, label_text, info_text=None) %}
<div class="form-group row justify-content-start">
    <span class="py-1 px-3">
        {{ input_slider(id, checked=preference(pref_key, user=user)) }}
    </span>
    {{ pref_label(id, label_text, info_text=info_text) }}
</div>
{% endmacro %}

<div class="card-body">
    <form id="edit-user-prefs"
          method="post"
          action="{{ url_for('user.preferences', nickname=user.nickname) }}"
          >
        <div class="card">
            <div class="card-header">
                <h4>preferences</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ pref_label('theme', 'theme') }}
                    <select class="form-control"
                            id="theme"
                            name="theme">
                        {% for key in site_config.themes.__dict__.keys() %}
                        <option
                            {% if key == preference('theme', user=user) %}
                            selected="selected"
                            {% endif %}
                            >{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
                {{ pref_slider('muteVideo', 'mute_video', 'start videos muted') }}
                {{ pref_slider('autoplayVideo', 'autoplay_video', 'autoplay videos') }}
                {{ pref_slider('loopVideo', 'loop_video', 'loop videos') }}
                {{ pref_slider('autoadvanceVideo', 'autoadvance_video', 'autoplay next video', info_text='If combined with \'loop videos\', will automatically advance to the next video when finished, wrapping around to the first video after playing the last.') }}
                {{ pref_slider('muteAudio', 'mute_audio', 'start audio muted') }}
                {{ pref_slider('loopAudio', 'loop_audio', 'loop audio') }}
                {{ pref_slider('autoadvanceAudio', 'autoadvance_audio', 'autoplay next audio', info_text='If combined with \'loop audio\', will automatically advance to the next audio media when finished, wrapping around to the first audio media after playing the last.') }}
                {{ pref_slider('hideLikes', 'hide_likes', 'hide favorites', info_text='If enabled, other users will not be able to see which posts you have favorited. Authors of posts will still be notified when you favorite their posts.') }}
                {{ pref_slider('hideDescription', 'hide_cw', 'hide post behind subject', info_text='posts with a subject will have their contents hidden behind a read-more link.
this mimics the behavior of Mastodon\'s content warnings.') }}

                <div class="form-group">
                    {{ pref_label('hiddenTags', 'hidden tags', info_text='a list of tags to hide by default, separated by spaces.
posts matching any of these tags will be hidden behind a banner, and may be manually clicked to reveal the post contents.')}}
                    <textarea class="form-control form-control-sm"
                              name="hiddenTags"
                              id="hiddenTags"
                              rows="2"
                              placeholder="list of tags to hide, separated by spaces"
                              >{{ ' '.join(preference('hidden_tags', user=user)) }}</textarea>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-primary">save</button>
            </div>
        </div>
    </form>
</div>

<div class="card-body">
    <form id="edit-user-account"
          method="post"
          action="{{ url_for('auth.edit_account', id=user.id) }}"
          oninput="newPasswordCheck.setCustomValidity(newPasswordCheck.value != newPassword.value ? 'Passwords do not match.' : '')"
          >
        <div id="edit-account-form" class="card">
            <div class="card-header">
                <h4>account</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ pref_label('email', 'email') }}
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           {% if user.email %}
                           value="{{ user.email }}"
                           {% endif %}
                           {% if site_config.instance.email_required %}
                           required
                           {% else %}
                           placeholder="(optional)"
                           {% endif %}
                           >
                </div>
                <div class="form-group password-input">
                    {{ pref_label('newPassword', 'new password') }}
                    <input type="password"
                           class="form-control"
                           name="newPassword"
                           id="newPassword"
                           >
                </div>
                <div class="form-group password-input-check">
                    {{ pref_label('newPasswordCheck', 'confirm') }}
                    <input type="password"
                           class="form-control"
                           name="newPasswordCheck"
                           id="newPasswordCheck"
                           >
                </div>
                <div class="form-group">
                    {{ pref_label('password', 'current password') }}
                    <input type="password"
                           class="form-control"
                           name="password"
                           id="password"
                           placeholder="(required for account changes)"
                           required>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-primary">save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
