{% extends 'user/base.html' %}
{% from 'elements.jinja' import mini_user_card %}

{% block title %}
editing mod notes for {{ user.handle|e }}
{% endblock %}

{% block content %}
<div class="card-body">
    <form id="edit-mod-notes" method="post">
        <div class="form-group row">
            <textarea class="form-control"
                      id="mod-notes"
                      name="mod-notes"
                      rows="6"
                      placeholder="add notes on this user which are only visible to moderators"
                      >{{ user.info.get('mod_notes', '') }}</textarea>
        </div>
        <div class="form-group row d-flex justify-content-end">
            <button class="btn btn-primary">save</button>
        </div>
    </form>
</div>
{% endblock %}
