{% extends 'user/base.html' %}
{% from 'elements.jinja' import mini_user_card, page_footer %}

{% block title %}
{{ title|e }}
{% endblock %}

{% block subtitle %}
({{ describe_page(page) }})
{% endblock %}


{% block content %}
<div class="card-body">
    {% for user in page.items %}
    <div class="mb-3">
        {{ mini_user_card(user) }}
    </div>
    {% endfor %}
</div>
{{ page_footer(page, link=user_page_link) }}
{% endblock %}
