{% extends 'base.html' %}
{% from 'elements.jinja' import tag_link, page_footer %}

{% block title %}
{{ title }}
{% endblock %}

{% block title_right %}
<h5>
    {% for show, name in [('popular', 'popular'), ('recent', 'recently used')] %}
    {% if not request.args.get('show', None) == show %}
    | <a href="{{ url_for('tags.index', show=show) }}">{{ name }}</a>
    {% endif %}
    {% endfor %}
</h5>
{% endblock %}

{% block subtitle %}
({{ describe_page(page) }})
{% endblock %}

{% block content %}
<ul class="list-group text-muted">
    {% for tag in page.items %}
    {{ tag_link(tag, style="list-group-item small") }}
    {% endfor %}
</ul>
{{ page_footer(page) }}
{% endblock %}
