/* main application style */

/* responsive variants */
/* baseline */
#infosoc {
    max-width: 1080px;
}

.content {
    flex-wrap: wrap-reverse;
}

.content-sidebar {
    min-width: 200px;
    max-width: 100%;
}

.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

@media (min-width: 320px) {
    /* e.g. iPhone SE in portrait mode */
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}


@media (min-width: 768px) {
    /* e.g. iPad in portrait mode */
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1080px) {
    /* "full width" */
    .content {
        flex-wrap: nowrap;
    }
    .content-sidebar {
        margin-right: 1.5em;
    }
}

@media (min-width: 1920px) {
    /* 1080p monitor */
    #infosoc {
        max-width: 1280px;
    }
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.content-body {
    max-width: 100%;
}

#search-bar {
    padding: 1em 1em 1em 1.5em;
}

#search-form i {
    position: absolute;
    left: 0;
}

.ac-wrapper {
    position: relative;
}

.ac-list {
    position: absolute;
    z-index: 100 !important;
    padding: 0;
    left: 0;
    width: 100%;
}

.user-avatar-img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-right: 1em;
}

.avatar-container {
    position: relative;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(30, 30, 30);
    background: rgba(30, 30, 30, 0.5);
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99 !important;
}

.avatar-container .img-overlay {
    width: 64px;
    height: 64px;
    font-size: 32px;
}

.hover-overlay {
    opacity: 0;
}

.hover-overlay:hover {
    opacity: 1;
}

.img-overlay .icon-btn {
    color: #fff;
}

.spoiler-overlay ~ .spoiler-filter {
    filter: blur(30px);
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
}

.icon-box-ne {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px;
}

.post-card {
    min-width: 300px;
}

.post-card .upload-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.post-view-card hr {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.query-result .post-thumbnail {
    width: 100%;
    max-height: 512px;
    min-height: 64px;
    object-fit: contain;
}

.query-result .card-footer {
    display: flex;
}

.del-item-checkbox {
    display: none;
}

.del-item-checkbox~.del-item-label:before {
    opacity: 0.5;
}

.del-item-checkbox~.del-item-label:hover:before {
    opacity: 1.0;
    text-decoration: none;
    cursor: pointer;
}

.del-item-checkbox:checked~.del-item-label:before {
    opacity: 1.0;
    color: red;
}

.slider-input {
    display: none;
}

.slider-input~.slider-input-label:before {
    content: '\f204'; /* icon-toggle-off */
}

.slider-input:checked~.slider-input-label:before {
    content: '\f205'; /* icon-toggle-on */
}

.display-checkbox~.show-by-checkbox, .display-checkbox:checked~.hide-by-checkbox {
    display: none;
}

.display-checkbox:checked~.show-by-checkbox {
    display: inline;
}

.no-ul:hover {
    text-decoration: none;
}

.no-change:hover, .no-change:focus {
    color: inherit;
    text-decoration: none;
}

.info-hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.info-hover:hover {
    text-decoration: none;
    cursor: help;
}
