/* This stylesheet will be loaded on every page to supplement the
 * default site style. Use this to fine-tune CSS customization for
 * your instance.
 */

.icon-btn {
    color: #6c757d;
}

.icon-btn:hover {
    color: #0095ff;
    text-decoration: none;
    cursor: pointer;
}

.boost-btn:hover {
    color: #0fa00f;
}

.star-btn:hover {
    color: orange;
}

.delete-btn:hover {
    color: red;
}

.report-btn:hover {
    color: red;
}

.info-hover {
    color: #0fa00f;
}

.info-btn:hover {
    color: #0fa00f;
}

.slider-input~.slider-input-label:before {
    color: #6c757d;
}

.slider-input:checked~.slider-input-label:before {
    color: #0095ff;
}
