{% extends 'base.html' %}

{% macro sidebar_nav(endpoint, name) %}
{% if request.endpoint == endpoint %}
<li class="list-group-item">
    {{name}}
    {% block page_sidebar %}{% endblock %}
</li>
{% else %}
<a class="list-group-item" href="{{ url_for(endpoint) }}">
    {{ name }}
</a>
{% endif %}
{% endmacro %}

{% block sidebar %}
<div class="card">
    <ul class="list-group">
        {% for endpoint, name in [('about.view', 'about'), ('about.queries', 'queries'), ('about.terms_of_service', 'terms of service')] %}
        {{ sidebar_nav(endpoint, name) }}
        {% endfor %}
    </ul>
</div>
{% endblock %}
