{% extends 'about/base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
<div class="card-body">
    <p>
        {{site_config.instance.name}} is a federated imageboard
        instance running
        <a href="https://gitlab.com/krampus/infosoc/">infosoc</a>
        version {{info.version}}. It currently hosts {{info.n_posts}}
        posts from {{info.n_users}} users, with {{info.n_tags}} tags.
    </p>

    <p>
        For more information about this instance,
        contact <a href="mailto:{{site_config.instance.email}}">the
            admin</a>.
    </p>
</div>
{% endblock %}
