{% extends 'about/base.html' %}

{% block title %}
about tag queries
{% endblock %}

{% macro sidebar_links(sections_list) %}
<ul>
    {% for section in sections_list %}
    {% set name = section.__dict__.get('__about_name__', section.__name__) %}
    <li>
        <a href="#{{ name }}">
            {{ name|markdown }}
        </a>
        {% if '__about_subsections__' in section.__dict__ %}
        {{ sidebar_links(section.__about_subsections__()) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% block page_sidebar %}
{{ sidebar_links(sections) }}
{% endblock %}

{% macro render_section(section, level=2) %}
{% set name = section.__dict__.get('__about_name__', section.__name__) %}
<h{{level}} id="{{ name }}">
    {{ name|markdown }}
</h{{level}}>

{% if 'key' in section.__dict__ %}
<p>
    <i>key:</i>&nbsp;&nbsp;<code>{{section.key}}</code>
</p>
{% endif %}

{{ section.__doc__|markdown }}

{% if '__about_values__' in section.__dict__ %}
{% if section.__about_values__.__class__ == dict %}
<span>
    <i>allowed values:</i>
    <ul>
        {% for value, description in section.__about_values__.items() %}
        <li>
            <span>
                <code>{{ value }}</code>
                <br>
                {{ description|markdown }}
            </span>
        </li>
        {% endfor %}
    </ul>
</span>
{% else %}
<span class="d-flex align-items-baseline">
    <i>allowed values:</i>&nbsp;

    {{ section.__about_values__|markdown }}
</span>
{% endif %}
{% endif %}

{% if '__about_examples__' in section.__dict__ %}
<span>
    <i>example queries:</i>
    <ul>
        {% for example, description in section.__about_examples__.items() %}
        <li>
            <code>{{ example }}</code>
            <br>
            {{ description|markdown }}
        </li>
        {% endfor %}
    </ul>
</span>
{% endif %}

{% if '__about_subsections__' in section.__dict__ %}
{% for subsection in section.__about_subsections__() %}
{{ render_section(subsection, level=level+1) }}
{% endfor %}
{% endif %}
{% endmacro %}

{% block content %}
<div class="card-body">
    <p>
        the search bar on this board works a little differently than
        on other social media platforms. because posts
        are <em>tagged</em> based on their content, you can
        specify <b>exactly</b> what you want to find, and you'll
        get <b>exactly</b> what you searched for.
    </p>
    <p>
        we use the term <em>tag query</em> to denote this powerful,
        precise type of tag-based search query.
    </p>
    <p>
        users familiar with other "booru-style" imageboards will find
        some of this content familiar, but would be wise to note that
        this board supports a much more powerful query syntax than is
        usually found on other imageboards. all algebraic query
        operators (<a href="#&quot;and&quot operator">"and"</a>,
        <a href="#&quot;or&quot operator">"or"</a>,
        <a href="#&quot;xor&quot operator">"xor"</a>, and
        <a href="#&quot;not&quot operator">"not"</a>) can be combined with
        each other and grouped with parentheses (<code>(</code>
        and <code>)</code>), allowing you to easily specify complex
        tag relationships in a query.
    </p>
    <p>
        this page describes all the tools available to you for searching
        with tag queries.
    </p>

    {% for section in sections %}
    <hr>
    {{ render_section(section) }}
    {% endfor %}
</div>
{% endblock %}
